Pods/

*.xcuserstate
*.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
*.xcworkspace/
xcuserdata/
UserInterface.xcuserstate

*.xcodeproj
*.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
*.xcworkspace/
xcuserdata/

*.DS_Store
.DS_Store

.DS_Store
*.DS_Store
*/.DS_Store
**/.DS_Store
